
dist
node_modules
package-lock.json
processengine.sqlite

metrics_api_contracts
metrics_api_http
metrics_api_core

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/
